.header {
    align-items: center;
    justify-content: space-between;
    background: #5859b8;
    height:20%;
    padding-bottom: 15px;
    display: flex;
}

.header .image-wrapper >img {
    width: 200px;
    height: 100px;
    display: inline-block; 
}


.header .wrapper {
    width: 58.6%;
    border-radius: 15px;
    background: #aa90e7;
    position: relative;
    margin-right: 200px;
    margin-top: 40px;
}

.header .wrapper >input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

.header .wrapper >input::placeholder{
    color: white;
}

.header .wrapper >svg {
    fill: white !important;
    position: absolute;
    top: 7px;
    left: 45%;
}